:root {
    --primary-text-color: #212121;
    --logo-black:#000000;
    --secondary-text-color: #757575;
    --icon-color: #afb1b8;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --bgr-white-color: #f5f5f5;
    --secondary-white-color: rgba(255, 255, 255, 0.6);
    --bgr-grey-color: #f5f4fa;
    --bgr-darck-color: #2f303a;
    --start-color: rgba(47, 48, 58, 0);
    --end-color: rgba(47, 48, 58, 0.4);
  }
  
  
  ::before,
  ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    margin: 0; /* 1 */
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
  }
  html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    -o-tab-size: 4;
       tab-size: 4; /* 3 */
  }


  .made__title{
    max-width: 171px;
    width: 100%;
    max-height: 24px;
    height: 100%;
    padding: 0 54px 20px 55px ;
    
  }

  @media screen and (min-width: 568px) {
    .made__title {
      max-width: 322px;
      width: 100%;
      max-height: 28px;
      height: 100%
      padding: 32px 123px;
    }
  }
  .made__poster{
    width: 171px;
    height: 24px;
  }
  @media screen and (min-width: 568px) {
    .made__poster {
      max-width: 322px;
      width: 100%;
      max-height: 28px;
      height: 100%
    }
  }
  

 .form__video{
  position: relative;
  width: 224px;
  height: 199px;
  width: 100%;
  height: 100%;
 }

 @media screen and (min-width: 568px) {
  .form__video {
    max-width: 448px;
    width: 100%;
    max-height: 205px;
    height: 100%
  }
}.form__video--btn{
  
  background-color: transparent;
  height: 16.44px;
  width: 16.48px;
}
.form__video--play{
  font: var(--primary-white-color);
  position: absolute;

  z-index: 998;
}



  .modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(47, 48, 58, 0.4);
    z-index: 999;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
  }
  
  .modal-wrap.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .modal-wrap.is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
  
  .modal {
    max-width: 280px;
    width: 100%;
    max-height: 459px;
    height: 100%;
    background: var(--primary-white-color);
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 888;
    -webkit-transition: -webkit-transform 250ms ease;
    transition: -webkit-transform 250ms ease;
    transition: transform 250ms ease;
    transition: transform 250ms ease, -webkit-transform 250ms ease;
    padding: 28px;
  }
  @media screen and (min-width: 568px) {
    .modal {
      max-width: 449px;
      width: 100%;
      max-height: 568px;
      height: 100%;
      padding: 32px 60px;
    }
  }
  .modal__close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  .modal__cross {
    fill: var(--primary-text-color);
    position: absolute;
    right: 17.33px;
    top: 17.33px;
  }
  .modal__discription {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 140%;


color: var(--primary-text-color);

    text-align: center;
    display: block;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);}

    @media screen and (min-width: 568px) {
      .modal__discription {
      font-size: 16px;
      line-height: 140%;
      }
  }
  
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .form:not(:first-child) {
    display: block;
  }
  
  .form-row {
    font-size: 12px;
    line-height: 1.1666;
    font-weight: 400;
    letter-spacing: 0.01em;
  }
  .form-row__title:not(:first-child) {
    margin-top: 10px;
  }
  .form-row__title {
    display: block;
    margin-bottom: 4px;
    margin-top: 10px;
    color: var(--secondary-text-color);
  }
  .form-row__test {
    position: relative;
  }
  .form-row__test::after {
    gap: 12px;
    background-image: url(../images/icons/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--accent-color);
    color: var(--primary-white-color);
  }
  .form-row:not(:last-child) {
    margin-bottom: 10px;
  }
  /* .form-row__input {
    display: block;
    max-width: 470px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 41px;
    outline: none;
    color: var(--input-color);
  }
  .form-row__input.form-story {
    min-height: 220px;
    width: 448px;
    -webkit-transform: auto;
            transform: auto;
    padding: 16px 12px;
    resize: none;
    width: 100%;
  }
  .form-row__input::-webkit-input-placeholder {
    color: var(--secondary-text-color);
  }
  .form-row__input::-moz-placeholder {
    color: var(--secondary-text-color);
  }
  .form-row__input:-ms-input-placeholder {
    color: var(--secondary-text-color);
  }
  .form-row__input::-ms-input-placeholder {
    color: var(--secondary-text-color);
  }
  .form-row__input::placeholder {
    color: var(--secondary-text-color);
  }
  .form-row__input:focus {
    border: 1px solid var(--accent-color);
  } */
  /* .form-row__input .icon {
    padding-right: 12px;
  } */
  .form-row__input:focus + svg {
    fill: var(--accent-color);
  }
  .form-row__svg {
    position: absolute;
    top: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 12px;
    -webkit-transition: fill 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out;
  }
  
  .privacy {
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-top: 20px;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    .privacy {
      font-size: 12px;
      line-height: 1.66px;
    }
  }
  .privacy__link {
    color: var(--accent-color);
  }
  .privacy__label {
    position: relative;
  }
  .privacy__input {
    display: none;
  }
  .privacy__label::before {
    cursor: pointer;
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 7px;
    border: 1px solid var(--bgr-darck-color);
    border-radius: 2px;
  }
  
  .privacy input:checked + label::before {
    background-color: var(--accent-color);
    background-image: url(../images/icons/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--accent-color);
    color: var(--primary-white-color);
  }
  
.hero-section {
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 118px 60px;
    max-height: 400px;
    max-width: 1600px;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(var(--start-color)), to(var(--end-color))), url(../images/adaptive/hero-mobile.jpg);
    background-image: linear-gradient(to top, var(--start-color), var(--end-color)), url(../images/adaptive/hero-mobile.jpg);
  }
  @media screen and (min-width: 480px) {
    .hero-section {
      width: 100%;
    }
  }
  @media screen and (min-width: 768px) {
    .hero-section {
      width: 100%;
    }
  }
  @media screen and (min-width: 1200px) {
    .hero-section {
      max-height: 600px;
      padding: 200px 0;
    }
  }
  @media (min-device-pixel-ratio: 2) and (max-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px), (min-resolution: 192dpi) and (max-width: 768px), (min-resolution: 2dppx) and (max-width: 768px) {
    .hero-section {
      background-image: -webkit-gradient(linear, left bottom, left top, from(var(--start-color)), to(var(--end-color))), url(../images/adaptive/hero-mobile@2x.jpg);
      background-image: linear-gradient(to top, var(--start-color), var(--end-color)), url(../images/adaptive/hero-mobile@2x.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    .hero-section {
      background-image: -webkit-gradient(linear, left bottom, left top, from(var(--start-color)), to(var(--end-color))), url(../images/adaptive/hero-tablet.jpg);
      background-image: linear-gradient(to top, var(--start-color), var(--end-color)), url(../images/adaptive/hero-tablet.jpg);
    }
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-section {
      background-image: -webkit-gradient(linear, left bottom, left top, from(var(--start-color)), to(var(--end-color))), url(../images/adaptive/hero-tablet@2x.jpg);
      background-image: linear-gradient(to top, var(--start-color), var(--end-color)), url(../images/adaptive/hero-tablet@2x.jpg);
    }
  }
  @media screen and (min-width: 1199px) {
    .hero-section {
      background-image: -webkit-gradient(linear, left bottom, left top, from(var(--start-color)), to(var(--end-color))), url(../images/adaptive/hero-bg.jpg);
      background-image: linear-gradient(to top, var(--start-color), var(--end-color)), url(../images/adaptive/hero-bg.jpg);
    }
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 1199px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1199px), (min-resolution: 192dpi) and (min-width: 1199px), (min-resolution: 2dppx) and (min-width: 1199px) {
    .hero-section {
      background-image: -webkit-gradient(linear, left bottom, left top, from(var(--start-color)), to(var(--end-color))), url(../images/adaptive/hero-bg@2x.jpg);
      background-image: linear-gradient(to top, var(--start-color), var(--end-color)), url(../images/adaptive/hero-bg@2x.jpg);
    }
  }
  .hero-section__conteiner {
    display: contents;
  }
  .hero-section__title {
    display: inline-block;
    text-align: center;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    font-size: 26px;
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    .hero-section__title {
      font-size: 44px;
      width: 696px;
    }
  }
  .order-button {
    height: 50px;
    width: 216px;
    font-style: normal;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    min-width: 216px;
    border-radius: 4px;
    border: none;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
  }


  /* ./video/318666739_548933026767203_8116096239020544953_n.mp4 */